.App {
  text-align: center;
}

.App-header {
  background-image: url('https://images.unsplash.com/photo-1509807995916-c332365e2d9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1271&q=80');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 0;
  width: 100%;
  object-fit: scale-down;
}

.drink {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2%;
}

.drink img {
    height: 300px;
    width: 300px;
    object-fit: scale-down;
}

p {
  font-size: 1rem;
  margin: 0;
}

h4 {
  font-size: 1.2rem;
  margin: 1%;
}

h2 {
  font-size: 1.4rem;
  margin: 1%;
}

button {
  width: 150px;
  padding: 1%;
  border-radius: 20px;
  font-size: 1rem;
}
.drinklist {
  display: flex;
  justify-content: center;
  align-items: center
}

.how {
  text-decoration: underline;
}
